<div class="card mt-3 mb-3 " id="booking" style="box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.25);">
    <div class="card-header" id="card-header" style="background-color: #FFECB3;">
        <div class="row">
            <div class="col-md-6">
                <label>ทำการจอง</label>
                <% manuals.slice(0,2).forEach((manual, index)=> { %>
                    <% if (manual.file !==null || manual.link !==null) { %>
                        <% let attachment %>
                            <% if (manual.file===null) { attachment=manual.link; } else if (manual.link===null) {
                                attachment=`/${manual.file}`; } %>
                                <a role="button" target="_blank"
                                    class="<%= index === 0 ? 'sample' : 'manual' %> me-1 ms-2 btn"
                                    style="color: black; display: inline;" href="<%= attachment %>">
                                    <%= manual.title %>
                                </a>
                                <% } %>
                                    <% }) %>
            </div>
            <div class="col-md-6 ms-auto">
                <label>รหัสการจอง</label>
                <input class=" border-1 rounded-1 ms-2 pe-2" placeholder="<%= booking.bookingID %>" value="" disabled>
            </div>
        </div>
    </div>
    <div id="booking-body" class="card-body">
        <form id="bookingForm" action="/events/<%= booking._id %>" method="POST">
            <div class="row" id="booking-body">
                <div class="col-md">
                    <label class="form-label">ชื่อ-สกุล</label>
                    <input disabled style="cursor:not-allowed;" class="form-control" type="text" name="userinfo"
                        value="<%= booking.userinfo%>" readonly>
                    <input type="hidden" name="userinfo" value="<%= user.firstname %> <%= user.lastname %>">
                </div>
                <div class="col-md">
                    <label class="form-label">หน่วยงาน</label>
                    <input style="cursor:not-allowed;" class="form-control" name="organization"
                        value="<%= booking.organization %>" readonly disabled>
                    <input type="hidden" name="organization" value="<%= user.organization %>">
                </div>
                <div class="col-md">
                    <label class="form-label">เบอร์โทร</label>

                    <input <%=booking.user_id !==user.id || booking.status>1 ? 'disabled' : '' %> class="form-control"
                    type="tel" id="mobileNumber" name="mobile_number"
                    value="<%= booking.mobile_number %>" required>
                        <small id="mobileNumberError" class="text-danger d-none">โปรดกรอกเบอร์โทรศัพท์ให้ครบ 10
                            ตัวเลข</small>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="form-group mt-4">
                        <label for="comment">ขอใช้รถเพื่อปฎิบัติภารกิจ:</label>
                        <span class="form-text"
                            style="font-size: 1rem; color:red; display: inline;">***(กรณีรับ-ส่งสนามบิน
                            กรุณาระบุเที่ยวบิน)***</span>
                        <textarea class="form-control" rows="5" id="comment" name="title" required <%=booking.user_id
                            !==user.id || booking.status>1 ? 'disabled' : '' %>><%= booking.title %></textarea>
                    </div>
                </div>
            </div>
            <div class="mt-4 ">
                <div class="row">
                    <div class="col-md">
                        <label for="">วัน/เวลาไปถึงสถานที่รับรถ</label>
                        <input type="datetime-local" name="start" id="startTime" required class="form-control"
                            value="<%= start.toISOString().slice(0,16) %>" <%=booking.user_id !==user.id ||
                            booking.status>1 ? 'disabled' : '' %>>
                        <small id="startTimeError" class="text-danger d-none"></small>
                    </div>
                    <div class="col-md">
                        <label for="">วัน/เวลาเสร็จสิ้นภารกิจ</label>
                        <input type="datetime-local" name="end" id="endTime" required class="form-control"
                            value="<%= end.toISOString().slice(0,16)%>" <%=booking.user_id !==user.id ||
                            booking.status>1 ? 'disabled' : '' %>>
                        <small id="endTimeError" class="text-danger d-none"></small>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md">
                        <label for="">สถานที่รับ</label>
                        <input type="text" name="placestart" required value="<%= booking.placestart %>"
                            class="form-control" <%=booking.user_id !==user.id || booking.status>1 ? 'disabled' : ''
                        %>>
                    </div>
                    <div class="col-md">
                        <label for="">สถานที่ส่ง</label>
                        <input type="text" name="placeend" required value="<%= booking.placeend %>" class="form-control"
                            <%=booking.user_id !==user.id || booking.status>1 ? 'disabled' : '' %>>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md">
                        <label for="passengerCount">จำนวนผู้โดยสาร</label>
                        <input type="number" required id="passengerCount" name="passengerCount" min="0"
                            value="<%= booking.passengerCount %>" class="form-control" <%=booking.user_id !==user.id ||
                            booking.status>1 ? 'disabled' : '' %> onchange="checkPassengerCount()">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md">
                        <label for="">ประกอบด้วย</label>
                        <span class="form-text"
                            style="font-size: 1rem; color:red; display: inline;">***(โปรดระบุชื่อ-นามสกุลของผู้รับบริการให้ครบถ้วน)***</span>
                        <ol class="passenger-list mt-3" id="passengerNames">
                            <% booking.passengers.forEach((passenger, index)=> { %>
                                <li>
                                    <input <%=booking.user_id !==user.id || booking.status>1 ? 'disabled' : '' %>
                                    class="form-control passenger-input mt-3" type="text" name="passengers" value="<%=
                                        passenger %>" required id="passengerName<%= index %>">
                                </li>
                                <% }) %>
                        </ol>
                    </div>
                </div>
                <input type="text" class="form-control mt-4" id="myInput" style="display: none;"
                    placeholder="โปรดระบุหมายเหตุการไม่อนุมัติ" required name="note">
            </div>
            <input type="hidden" id="initialPassengerCount" name="initialPassengerCount"
                value="<%= booking.passengerCount %>">
            <% if (user.role!=='approver' ) { %>
                <input type="hidden" id="status" name="status">
                <% } %>
                    <% if (user.role==="approver" ) { %>
                        <input type="hidden" id="approve_Time" name="approve_Time">
                        <input type="hidden" id="status" name="status">
                        <input type="hidden" id="approverName" name="approverName">
                        <input type="hidden" id="cancelerName" name="cancelerName">
                        <% } %>
                            <% if (booking.status===1) { %>
                                <div class="row text-center">
                                    <div class="mt-3">
                                        <a role="button" href=" /manage" class=" btn btn btn-secondary">กลับ</a>
                                        <% if (booking.user_id===user.id && user.role !=='approver' ) { %>
                                            <a role="button" href=" /print/<%=booking._id %>"
                                                class=" btn btn btn-info "><i class="fa-solid fa-print text-dark"></i>
                                                พิมพ์เอกสาร</a>
                                            <input type="hidden" name="is_locked" value="false">
                                            <button type="submit" id="saveupdateBtn" class="btn btn-success btn-lg"
                                                onclick="displayAlertSaveupdate()">ยืนยันการแก้ใข</button>
                                            <% } else if (user.role==='approver' && booking.user_id===user.id) { %>
                                                <a role="button" href=" /print/<%=booking._id %>"
                                                    class=" btn btn btn-secondary">พิมพ์เอกสาร</a>
                                                <button type="submit" id="saveupdateBtn" class="btn btn-primary btn-lg"
                                                    onclick="displayAlertSaveupdate()">ยืนยันการแก้ใข</button>
                                                <button type="submit" class="btn btn-primary btn-lg" id="unapproveBtn"
                                                    style="background-color: red;">ไม่อนุมัติ</button>
                                                <button type="submit" class="btn btn-primary btn-lg" id="approveBtn"
                                                    style="background-color: rgb(44, 169, 44);"
                                                    onclick="displayAlertApprove()">อนุมัติ</button>
                                                <% } else if (user.role==='approver' ) { %>
                                                    <% if (!booking.is_locked) { %>
                                                        <button type="submit" class="btn btn-primary btn-lg"
                                                            id="unapproveBtn"
                                                            style="background-color: red;">ไม่อนุมัติ</button>
                                                        <button type="submit" class="btn btn-primary btn-lg"
                                                            id="approveBtn" style="background-color: rgb(44, 169, 44);"
                                                            onclick="displayAlertApprove()">อนุมัติ</button>
                                                        <% }else{ %>
                                                            <p style="font-size: 20px;"
                                                                class="text-center mt-3 text-danger">
                                                                ผู้จองกำลังแก้ไขการจอง</p>
                                                            <% } %>
                                                                <% } %>
                                    </div>
                                </div>
                                <% } else { %>
                                    <p style="font-size: 20px;" class="text-center mt-3 text-danger">
                                        หัวหน้างานอนุมัติสำเร็จ,
                                        รอคนจัดรถ
                                    </p>
                                    <% } %>


                                        <% if (errorBooking && errorBooking.length> 0) { %>
                                            <script>
                                                document.addEventListener('DOMContentLoaded', () => {
                                                    displayAlertExistbookin(`<%=errorBooking %>`);
                                                });
                                            </script>
                                            <% } %>
        </form>
    </div>

</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const startTimeInput = document.getElementById('startTime');
        const endTimeInput = document.getElementById('endTime');
        const startTimeError = document.getElementById('startTimeError');
        const endTimeError = document.getElementById('endTimeError');
        const saveUpdateButton = document.getElementById('saveupdateBtn');

        function validateTimes() {
            const startTime = new Date(startTimeInput.value);
            const endTime = new Date(endTimeInput.value);
            const now = new Date();

            // console.log(startTime.toISOString().slice(0, 16))

            if (startTime < now) {
                console.log('startTime')
                startTimeError.classList.remove('d-none');
                startTimeError.innerText = 'เวลาเริ่มต้นไม่สามารถอยู่ในอดีตได้';
                return false;
            } else {
                startTimeError.classList.add('d-none');
            }

            if (endTime <= startTime) {
                endTimeError.classList.remove('d-none');
                endTimeError.innerText = 'เวลาสิ้นสุดต้องอยู่หลังเวลาเริ่มต้น';
                return false;
            } else {
                endTimeError.classList.add('d-none');
            }
            if (startTime > endTime) {
                startTimeError.classList.remove('d-none');
                startTimeError.innerText = 'เวลาเริ่มต้นไม่สามารถอยู่หลังเวลาสิ้นสุดได้';
                return false;
            } else {
                startTimeError.classList.add('d-none');
            }
            return true;
        }


        function validateForm() {
            if (!validateTimes()) {
                Swal.fire({
                    icon: 'error',
                    title: 'ข้อมูลไม่ถูกต้อง',
                    text: 'กรุณากรอกวันและเวลาให้ถูกต้อง',
                });
                return false;
            }

            const bookingForm = document.getElementById('bookingForm');
            const inputs = bookingForm.querySelectorAll('input, textarea');
            let allFilled = true;
            inputs.forEach(input => {
                if (input.name === 'note' || input.name === 'status' || input.name === 'approve_Time' || input.name === 'approverName' || input.name === 'cancelerName') {
                    return;
                }
            });
            if (!allFilled) {
                Swal.fire({
                    icon: 'error',
                    title: 'ข้อมูลไม่ครบ',
                    text: 'กรุณากรอกข้อมูลให้ครบถ้วนก่อนส่งฟอร์ม!',
                });
                return false;
            }

            return true;
        }

        startTimeInput.addEventListener('change', validateTimes);
        endTimeInput.addEventListener('change', validateTimes);

        saveUpdateButton.addEventListener('click', function (event) {
            if (!validateForm()) {
                event.preventDefault();
            }
        });
        document.getElementById('bookingForm').addEventListener('submit', function (event) {
            if (!validateForm()) {
                event.preventDefault();
                event.stopPropagation();
            }
        });
    });

</script>

<script>
    const initialPassengerCountInput = document.getElementById('initialPassengerCount');
    let initialCount = parseInt(initialPassengerCountInput.value); // Initialize with 0 if NaN
    console.log(initialCount)
    const passengerCountInput = document.getElementById('passengerCount');
    const passengerNamesOl = document.getElementById('passengerNames');

    const createListItem = (index) => {
        const listItem = document.createElement('li');
        listItem.innerHTML = `
            <input class="form-control passenger-input mt-3" type="text" id="passengerName${index}" name="passengers" required>
        `;
        return listItem;
    };

    const updatePassengerList = (count) => {
        const currentCount = passengerNamesOl.children.length;

        if (count < initialCount) {
            Swal.fire({
                title: 'คุณแน่ใจหรือไม่?',
                text: "การลดจำนวนผู้โดยสารจะทำให้ข้อมูลบางส่วนสูญหาย!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'ตกลง ลดจำนวนผู้โดยสาร',
                cancelButtonText: 'ยกเลิก'
            }).then((result) => {
                if (result.isConfirmed) {
                    initialCount = count;
                    for (let i = currentCount - 1; i >= count; i--) {
                        passengerNamesOl.removeChild(passengerNamesOl.children[i]);
                    }
                } else {
                    passengerCountInput.value = initialCount;
                }
            });
        } else {
            initialCount = count;
            if (count > currentCount) {
                for (let i = currentCount; i < count; i++) {
                    passengerNamesOl.appendChild(createListItem(i));
                }
            }
        }
    };

    passengerCountInput.addEventListener('input', function () {
        const count = parseInt(passengerCountInput.value);
        updatePassengerList(count);
        localStorage.setItem('passengerCount', count);
    });

    // document.addEventListener("DOMContentLoaded", function () {
    //     const savedCount = parseInt(localStorage.getItem('passengerCount'));
    //     if (savedCount) {
    //         passengerCountInput.value = savedCount;
    //         updatePassengerList(savedCount);
    //     }
    // });
</script>

<!-- Display Aleart Approve -->
<script>

    document.addEventListener("DOMContentLoaded", function () {
        var mobileNumberInput = document.getElementById("mobileNumber");
        mobileNumberInput.addEventListener("input", function () {
            var mobileNumber = mobileNumberInput.value.trim();
            var numericMobileNumber = mobileNumber.replace(/\D/g, "");
            mobileNumberInput.value = numericMobileNumber;
            if (numericMobileNumber.length === 10) {
                document.getElementById("mobileNumberError").classList.add("d-none");
            } else {
                document.getElementById("mobileNumberError").classList.remove("d-none");
            }
        });
    });

    async function displayAlertApprove() {
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            iconColor: 'white',
            customClass: {
                popup: 'colored-toast',
            },
            showConfirmButton: false,
            timer: 1000,
            timerProgressBar: true,
        });
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger',
            },
            buttonsStyling: false,
        });
        const result = await swalWithBootstrapButtons.fire({
            title: 'คุณแน่ใจหรือไม่?',
            text: 'คุณต้องการยืนยันที่จะอนุมัติ!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'ยืนยัน',
            cancelButtonText: 'ยกเลิก',
            reverseButtons: true,
        });

        if (result.isConfirmed) {
            await Toast.fire({
                icon: 'success',
                title: 'ทำการอนุมัติสำเร็จ',
            });
            const time = new Date();
            document.getElementById('approve_Time').value = time.toISOString();
            document.getElementById('status').value = 2;
            document.getElementById('approverName').value = '<%= user.firstname %> <%= user.lastname %> ';
            await document.querySelector('#booking-body form').submit();
        } else if (result.dismiss === Swal.DismissReason.cancel) {
            swalWithBootstrapButtons.fire({
                title: 'ยกเลิก',
                text: 'คุณได้ทำการยกเลิก',
                icon: 'error',
            });
        }
    }

</script>
<!-- Display Aleart Unapprove -->
<script>
    document.getElementById('unapproveBtn').addEventListener('click', function () {
        var inputField = document.getElementById('myInput');
        if (inputField.style.display === "none") {
            inputField.style.display = "block";
        } else {
            inputField.style.display = "none";
        }
    });

    async function displayAlertUnapprove() {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger',
            },
            buttonsStyling: false,
        });
        const result = await swalWithBootstrapButtons.fire({
            title: 'คุณแน่ใจหรือไม่?',
            text: 'คุณต้องการยืนยันที่จะไม่อนุมัติ!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'ยืนยัน',
            cancelButtonText: 'ยกเลิก',
            reverseButtons: true,
        });

        if (result.isConfirmed) {
            document.getElementById('status').value = 5;
            document.getElementById('cancelerName').value = '<%= user.firstname %> <%= user.lastname %>'
            await document.querySelector('#booking-body form').submit();
        } else if (result.dismiss === Swal.DismissReason.cancel) {
            swalWithBootstrapButtons.fire({
                title: 'ยกเลิก',
                text: 'คุณได้ทำการยกเลิก',
                icon: 'error',
            });
        }
    }
</script>
<!-- Display Aleart Update -->
<script>
    async function displayAlertSaveupdate() {
        // ดึงข้อมูลฟอร์มที่ต้องการตรวจสอบ
        const bookingForm = document.getElementById('bookingForm');
        const mobileInput = document.getElementById("mobileNumber");
        const mobileNumberError = document.getElementById("mobileNumberError");

        // ฟังก์ชันตรวจสอบความยาวเบอร์โทรศัพท์
        function validateMobileNumber() {
            var inputValue = mobileInput.value.trim();
            if (inputValue.length !== 10) {
                mobileNumberError.classList.remove("d-none");
                return false;
            } else {
                mobileNumberError.classList.add("d-none");
                return true;
            }
        }

        if (!validateMobileNumber()) {
            mobileInput.focus();
            mobileInput.scrollIntoView({ behavior: "smooth", block: "center" });
            return;
        }


        const inputs = bookingForm.querySelectorAll('input');
        let allFilled = true;
        inputs.forEach(input => {
            if (input.name === 'note' || input.name === 'status' || input.name === 'approve_Time' || input.name === 'approverName' || input.name === 'cancelerName') {
                return;
            }

            if (input.value.trim() === '') {
                allFilled = false;
            }
        });

        if (!allFilled) {
            Swal.fire({
                icon: 'error',
                title: 'เกิดข้อผิดพลาด',
                text: 'กรุณากรอกข้อมูลให้ครบถ้วนก่อนส่งฟอร์ม!',
            });
            return;
        }

        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            iconColor: 'white',
            customClass: {
                popup: 'colored-toast',
            },
            showConfirmButton: false,
            timer: 1500,
            timerProgressBar: true,
        });

        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger',
            },
            buttonsStyling: false,
        });

        const result = await swalWithBootstrapButtons.fire({
            title: 'คุณแน่ใจหรือไม่?',
            text: 'คุณต้องการยืนยันที่จะแก้ไข!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'ยืนยัน',
            cancelButtonText: 'ยกเลิก',
            reverseButtons: true,
        });

        if (result.isConfirmed) {
            await Toast.fire({
                icon: 'success',
                title: 'แก้ไขสำเร็จ',
            });
            document.getElementById('status').value = 1;
            await document.querySelector('#booking-body form').submit();
        } else if (result.dismiss === Swal.DismissReason.cancel) {
            swalWithBootstrapButtons.fire({
                title: 'ยกเลิก',
                text: 'คุณได้ทำการยกเลิก',
                icon: 'error',
            });
        }
    }

</script>
<!-- displayAlertExistbookin -->
<script>
    async function displayAlertExistbookin(errorBooking) {
        Swal.fire({
            title: errorBooking,
            showClass: {
                popup: `
      animate__animated
      animate__fadeInUp
      animate__faster
    `
            },
            hideClass: {
                popup: `
      animate__animated
      animate__fadeOutDown
      animate__faster
    `
            }
        });
    };

</script>