<div class="card mt-3" style="box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.25);">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">จัดการ</th>
                <th scope="col">ประเภท</th>
                <th scope="col">รหัส</th>
                <th scope="col">ชื่อ</th>
                <th scope="col">หน่วยงาน</th>

                </th>
            </tr>
        </thead>
        <% users.forEach(USER=> { %>
            <tbody>
                <tr>
                    <td>
                        <div class="btn-group " role="group" style="width: 75px;">
                            <button class="btn btn-warning" data-bs-toggle="modal"
                                data-bs-target="#UpdateInfo_<%= USER._id%>"><i
                                    class="fa-regular fa-pen-to-square"></i></button>
                            <button class="btn btn-danger" onclick="displayAlert('<%= USER._id%>')"><i
                                    class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </td>
                    <div class="modal fade" id="UpdateInfo_<%= USER._id%>" aria-hidden="true" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">แก้ไขข้อมูลสมาชิก</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body" id="modal-body">
                                    <form action="/setting/member/update/<%= USER._id%>" method="POST">
                                        <div class="row mb-3">
                                            <div class="col-sm-3">
                                                <label class="form-label">ประเภท</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <select name="role" class="form-select">
                                                    <option value="approver" <%=USER.role==='approver' ? 'selected' : ''
                                                        %>>ผู้อนุมัติ
                                                    </option>
                                                    <option value="admin" <%=USER.role==='admin' ? 'selected' : '' %>
                                                        >คนจัดรถ</option>
                                                    <option value="user" <%=USER.role==='user' ? 'selected' : '' %>
                                                        >พนักงาน</option>
                                                    <option value="driver" <%=USER.role==='driver' ? 'selected' : '' %>
                                                        >พนักงานขับรถ</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-sm-3">
                                                <label class="form-label">รหัสพนักงาน</label>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <input type="text" class="form-control" value="<%= USER.numberID %>"
                                                    disabled>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-sm-3">
                                                <label class="form-label">ชื่อ</label>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <input type="text" class="form-control" name="firstname"
                                                    value="<%= USER.firstname %>" required>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-sm-3">
                                                <label class="form-label">นามสกุล</label>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <input type="text" class="form-control" name="lastname"
                                                    value=<%=USER.lastname%>
                                                required>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-sm-3">
                                                <label class="form-label">หน่วยงาน</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <select name="organization" class="form-select" required>
                                                    <option value="สำนักงานเลขานุการศูนย์การแพทย์มหาวิทยาลัยแม่ฟ้าหลวง"
                                                        <%=USER.organization==='สำนักงานเลขานุการศูนย์การแพทย์มหาวิทยาลัยแม่ฟ้าหลวง'
                                                        ? 'selected' : '' %>>
                                                        สำนักงานเลขานุการศูนย์การแพทย์มหาวิทยาลัยแม่ฟ้าหลวง
                                                    </option>
                                                    <option value="โรงพยาบาลศูนย์การแพทย์มหาวิทยาลัยแม่ฟ้าหลวง"
                                                        <%=USER.organization==='โรงพยาบาลศูนย์การแพทย์มหาวิทยาลัยแม่ฟ้าหลวง'
                                                        ? 'selected' : '' %>
                                                        >โรงพยาบาลศูนย์การแพทย์มหาวิทยาลัยแม่ฟ้าหลวง
                                                    </option>
                                                    <option value="โรงพยาบาลมหาวิทยาลัยแม่ฟ้าหลวง เชียงราย"
                                                        <%=USER.organization==='โรงพยาบาลมหาวิทยาลัยแม่ฟ้าหลวง เชียงราย'
                                                        ? 'selected' : '' %>
                                                        >โรงพยาบาลมหาวิทยาลัยแม่ฟ้าหลวง เชียงราย
                                                    </option>
                                                    <option
                                                        value="ศูนย์บริการสุขภาพแบบครบวงจรแห่งภาคเหนือ และอนุภูมิภาคลุ่มแม่น้ำโขง"
                                                        <%=USER.organization==='ศูนย์บริการสุขภาพแบบครบวงจรแห่งภาคเหนือ และอนุภูมิภาคลุ่มแม่น้ำโขง'
                                                        ? 'selected' : '' %>
                                                        >ศูนย์บริการสุขภาพแบบครบวงจรแห่งภาคเหนือ
                                                        และอนุภูมิภาคลุ่มแม่น้ำโขง</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-sm-3">
                                                <label class="form-label" for="birthDate">วัน/เดือน/ปี
                                                    เกิด</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input name="birth_year" id="birthDate" type="date"
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-sm-3">
                                                <label class="form-label">รหัสผ่าน
                                                </label>
                                                <p class="form-text text-danger">
                                                    (รหัสผ่านที่ใช้เข้าสู่ระบบ)</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <input name="password" type="password" class="form-control"
                                                    id="passwordInput_<%= USER._id %>" disabled>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox"
                                                        id="enablePassword_<%= USER._id %>">
                                                    <label class="form-check-label"
                                                        for="enablePassword_<%= USER._id %>">
                                                        <span>ต้องการเปลี่ยนรหัส</span>
                                                    </label>
                                                    <i id="passwordVisibilityToggle_<%= USER._id %>"
                                                        class="bi bi-eye-slash" aria-hidden="true"></i>
                                                </div>
                                            </div>

                                            <div class="row gy-2 text-center">
                                                <div class="col-md ">
                                                    <button type="submit" class="btn btn-primary "
                                                        id="updatedBtn">ยืนยัน</button>
                                                </div>
                                            </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <td>
                        <%= USER.role==='approver' ? "ผู้อนุมัติ" : USER.role==='admin' ? "คนจัดรถ" :
                            USER.role==="driver" ? 'คนขับรถ' : 'พนักงาน' %>
                    </td>
                    <td>
                        <%= USER.numberID %>
                    </td>
                    <td>
                        <%= USER.firstname %>
                            <%= USER.lastname %>
                    </td>
                    <td>
                        <%= USER.organization %>
                    </td>
                </tr>
            </tbody>
            <% }) %>
    </table>
</div>