<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>เพิ่มเอกสาร</title>
    <link rel="icon" href="../image/Mae-Fah-Luang-University-2.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/Css/manage.css">
    <link rel="stylesheet"
        href="https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<style>
    @media (max-width: 768px) {
        .breadcrumb-nav {
            display: none !important;
        }
    }
</style>

<body>
    <%- include('components/navbar.ejs') -%>
        <div class="container-fluid mt-3" id="main">
            <div class="row">
                <div class="col-12">
                    <div class="container-fluid p-0 m-0"
                        style="display: flex;justify-content: space-between;align-items: center;">
                        <button type="button" onclick="toggleNav()" class="toggler mb-2 p-0 m-0"
                            style="font-size: 20px">
                            <i class="fi fi-rr-indent" id="toggleIcon" style="color: white"></i>
                        </button>
                        <nav class="breadcrumb-nav" style="--bs-breadcrumb-divider: '>'; margin-left: 3%;"
                            aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">หน้าหลัก</a></li>
                                <li class="breadcrumb-item"><a href="/document">เอกสาร</a></li>
                                <li class="breadcrumb-item active" aria-current="page">เพิ่มเอกสาร</li>
                            </ol>
                        </nav>
                        <%- include('components/userinfo.ejs') -%>
                    </div>
                    <div class="card mt-3 mb-3" id="booking" style="box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.25);">
                        <div id="booking-body" class="card-body">
                            <form action="/document/add" method="POST" enctype="multipart/form-data" id="addForm">
                                <div class="row">
                                    <input type="hidden" name="adminName"
                                        value="<%= user.firstname %> <%= user.lastname %>">
                                    <input type="hidden" name="numberID" value="<%= user.numberID %>">
                                    <input type="hidden" name="organization" value="<%= user.organization %>">
                                    <input type="hidden" name="role" value="<%= user.role %>">

                                    <div class="col-md">
                                        <label class="form-label">หัวข้อ</label>
                                        <input class="form-control" type="text" name="title" required>
                                    </div>

                                    <div class="col-md">
                                        <label class="form-label">หมวด</label>
                                        <select class="form-control" name="category" required>
                                            <option value="ระเบียบ">ระเบียบ</option>
                                            <option value="แบบฟอร์ม">แบบฟอร์ม</option>
                                            <option value="ประกาศ">ประกาศ</option>
                                            <option value="แนวทางการใช้รถ">แนวทางการใช้รถ</option>
                                        </select>
                                    </div>
                                    <div class="col-md">
                                        <label class="form-label">แนบไฟล์หรือลิงก์</label>
                                        <select class="form-control" id="attachmentType" name="attachmentType"
                                            onchange="toggleAttachmentField()">
                                            <option value="file">ไฟล์</option>
                                            <option value="link">ลิงก์</option>
                                        </select>
                                    </div>
                                    <div class="col-md" id="fileInput">
                                        <label class="form-label">ไฟล์</label>
                                        <input type="file" name="attachment" class="form-control"
                                            accept=".pdf,.doc,.docx">
                                    </div>
                                    <div class="col-md" id="linkInput" style="display: none;">
                                        <label class="form-label">ลิงก์</label>
                                        <input type="url" name="attachment" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md">
                                        <label class="form-label">รูปภาพ:</label>
                                        <input type="file" accept="image/*" name="image" class="form-control"
                                            onchange="previewImage(event)" required>
                                        <img id="imagePreview" alt="Image Preview"
                                            style="max-width: 50%; margin-top: 10px;">
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary mt-4" style="height: 40px;">ยืนยัน</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            async function displayAlert() {
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    iconColor: 'white',
                    customClass: {
                        popup: 'colored-toast',
                    },
                    showConfirmButton: false,
                    timer: 1500,
                    timerProgressBar: true,
                });

                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger'
                    },
                    buttonsStyling: false
                });

                const result = await swalWithBootstrapButtons.fire({
                    title: 'คุณแน่ใจหรือไม่?',
                    text: 'คุณต้องการยืนยันที่จะส่ง!',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'ยืนยัน',
                    cancelButtonText: 'ยกเลิก',
                    reverseButtons: true
                });

                if (result.isConfirmed) {
                    await Toast.fire({
                        icon: 'success',
                        title: 'เพิ่มเอกสารสำเร็จ',
                    });
                    document.getElementById("addForm").submit();
                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    swalWithBootstrapButtons.fire({
                        title: 'ยกเลิก',
                        text: 'คุณได้ทำการยกเลิก',
                        icon: 'error'
                    });
                }
            }

            document.getElementById("addForm").addEventListener("submit", function (event) {
                event.preventDefault();
                displayAlert();
            });

            function previewImage(event) {
                const reader = new FileReader();
                reader.onload = function () {
                    const output = document.getElementById('imagePreview');
                    output.src = reader.result;
                };
                reader.readAsDataURL(event.target.files[0]);
            }


            function toggleAttachmentField() {
                const attachmentType = document.getElementById('attachmentType').value;
                const fileInput = document.getElementById('fileInput');
                const linkInput = document.getElementById('linkInput');

                if (attachmentType === 'file') {
                    fileInput.style.display = 'block';
                    linkInput.style.display = 'none';
                    linkInput.value = null
                } else if (attachmentType === 'link') {
                    fileInput.style.display = 'none';
                    linkInput.style.display = 'block';
                    fileInput.value = null
                }
            }
        </script>

        <script src="../JS/navbar.js"></script>
        <script src="../JS/navbar.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</body>

</html>