<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>แก้ไขการจอง</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/css/manage.css">
    <link rel="stylesheet"
        href="https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
    <%- include('components/navbar.ejs') -%>
        <div class="container-fluid mt-3" id="main">
            <div class="row">
                <div class="col-12">
                    <div class="container-fluid p-0 m-0"
                        style="display: flex;justify-content: space-between;align-items: center;">
                        <button type="button" onclick="toggleNav()" class="toggler mb-2 p-0 m-0"
                            style="font-size: 20px">
                            <i class="fi fi-rr-indent" id="toggleIcon" style="color: white"></i>
                        </button>
                        <%- include('components/userinfo.ejs') -%>
                    </div>

                    <%- include('components/progress-bar.ejs') -%>

                        <% if (booking.status>=1) {%>
                            <%- include('components/booking_card.ejs') -%>
                                <% } %>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <% if (booking.status>=2) { %>
                        <div class="card mt-3 mb-3 " style="box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.25);">
                            <div id="manage-vehicle_driver-body" class="card-body">
                                <form action="/events/<%= booking._id %>" method="POST">
                                    <h5 class="form-label ">คนจัดรถ</h5>
                                    <hr>
                                    <input id="status2" type="hidden" name="status">
                                    <input id="adminName" type="hidden" name="adminName">
                                    <div class="row">
                                        <div class="col-md">
                                            <label class="form-label mt-2">คนขับรถ</label>
                                            <select <%=booking.status>2 ? 'disabled' : '' %> name="driver"
                                                class="form-select" required>
                                                <option>
                                                    <%= booking.driver %>
                                                </option>
                                                <% drivers.forEach(driver=> { %>
                                                    <option>
                                                        <%= driver.firstname %>
                                                            <%= driver.lastname %>
                                                    </option>
                                                    <% }); %>
                                            </select>
                                        </div>
                                        <div class="col-md">
                                            <label class="form-label mt-2">ยานพหนะ</label>
                                            <select <%=booking.status>2 ? 'disabled' : '' %> name="vehicle"
                                                class="form-select" required>
                                                <option>
                                                    <%= booking.vehicle %>
                                                </option>
                                                <% vehicle.forEach(vehicle=> { %>
                                                    <option>
                                                        <%= vehicle.register%>
                                                    </option>
                                                    <% }); %>
                                            </select>
                                        </div>
                                    </div>
                                    <% if (booking.status===2) { %>
                                        <div class="text-center mt-3">
                                            <button type="submit" class="btn btn-primary btn-lg" id="save_manageBtn"
                                                style="background-color: rgb(44, 169, 44);" id="txt">บันทึก</button>
                                        </div>
                                        <% }else{ %>
                                            <p style="font-size: 20px; " class="text-center mt-3">
                                                จัดรถสำเร็จ,พร้อมใช้งาน</p>
                                            <% } %>
                                </form>
                            </div>
                        </div>
                        <% if(booking.status>=3) {%>
                            <div class="card mt-3 mb-3 " style="box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.25);">
                                <div id="record-body" class="card-body">
                                    <form action="/events/<%= booking._id %>" method="POST">
                                        <h5 class="form-label">คนบันทึกเลขไมล์</h5>
                                        <hr>
                                        <input id="statusRecord" type="hidden" name="status">
                                        <div class="row">
                                            <div class="row">
                                                <div class="col-md">
                                                    <label class="form-label mt-4">เลขไมล์ก่อนเดินทาง</label>
                                                    <input <%=booking.status> 3 ? 'disabled' : '' %> type="number" min
                                                    ="0"
                                                    class="form-control" name="kilometer_start"
                                                    id="km_start" placeholder="km" required value="<%=
                                                        booking.kilometer_start %>">
                                                </div>
                                                <div class="col-md">
                                                    <label class="form-label mt-4">เลขไมล์หลังเดินทาง</label>
                                                    <input <%=booking.status> 3 ? 'disabled' : '' %> type="number"
                                                    min="0" class="form-control" name="kilometer_end"
                                                    id="km_end" placeholder="km" required value="<%=
                                                        booking.kilometer_end %>">
                                                </div>
                                                <div class="col-md">
                                                    <label class="form-label mt-4">ระยะทางทั้งหมด</label>
                                                    <input <%=booking.status>3 ? 'disabled' : '' %> type="number"
                                                    class="form-control" name="total_kilometer"
                                                    id="total_km" value="<%= booking. total_kilometer %>"readonly
                                                        required>
                                                </div>
                                                <p id="displayText" style="color: red;"></p>
                                            </div>
                                            <% if (booking.status===4) { %>
                                                <div class="row m-0 justify-content-center">
                                                    <p class="print-button"
                                                        style="width: 80px; height: 30px; background-color: red;">
                                                        ลบ</p>
                                                    <p class="print-button" style="width: 80px; height: 30px;">พิมพ์</p>
                                                </div>
                                                <% }else{ %>
                                                    <div class="text-center mt-3">
                                                        <button type="submit" class="btn btn-primary btn-lg"
                                                            id="save_recordBtn"
                                                            style="background-color: rgb(44, 169, 44);">บันทึก</button>
                                                    </div>
                                                    <% } %>
                                    </form>
                                </div>
                            </div>
                            <% } %>
                                <% } %>
                </div>
            </div>
        </div>

        <script src="../JS/booking-edit.js"></script>
        <!-- calculateTotalKilometer -->
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                function calculateTotalKilometer() {
                    let kmStart = parseFloat(document.getElementById('km_start').value);
                    let kmEnd = parseFloat(document.getElementById('km_end').value);

                    if (kmEnd < kmStart) {
                        document.getElementById('displayText').innerHTML = "กรอกข้อมูลไม่ถูกต้อง";
                        document.getElementById('total_km').value = '';
                        document.getElementById('save_recordBtn').disabled = true; // Enable submit button
                    } else {
                        const totalKm = kmEnd - kmStart;
                        document.getElementById('total_km').value = isNaN(totalKm) ? '' : totalKm.toFixed(2);
                        document.getElementById('displayText').innerHTML = ""; // Clear error message
                        document.getElementById('save_recordBtn').disabled = false; // Enable submit button
                    };
                }
                document.getElementById('km_start').addEventListener('input', calculateTotalKilometer);
                document.getElementById('km_end').addEventListener('input', calculateTotalKilometer);
            });
        </script>
        <!-- PreventDefault -->
        <script>
            document
                .querySelector('#record-body form')
                .addEventListener('submit', function (event) {
                    event.preventDefault();
                    if (event.submitter && event.submitter.id === 'save_recordBtn') {
                        displayAlertRecord();
                    }
                });
        </script>
        <script>
            document.querySelector("#booking-body form").addEventListener("submit", function (event) {
                event.preventDefault();
                if (event.submitter && event.submitter.id === 'approveBtn') {
                    displayAlertApprove()
                } else if (event.submitter && event.submitter.id === 'unapproveBtn') {
                    displayAlertUnapprove()
                } else if (event.submitter && event.submitter.id === 'saveupdateBtn') {
                    displayAlertSaveupdate()
                }
            });
            document.querySelector("#manage-vehicle_driver-body form").addEventListener("submit", function (event) {
                event.preventDefault();

                if (event.submitter && event.submitter.id === 'save_manageBtn') {
                    displayAlertSavemanage()
                }
            });


        </script>
        <!-- progress bar -->
        <script>
            const bookingStatus = '<%= bookingStatus %>';
            updateProgress(bookingStatus - 1);
            function updateProgress(currentStep) {

                const stepperItems = document.querySelectorAll('.stepper-item');

                stepperItems.forEach(item => {
                    item.classList.remove('active');
                });

                for (let i = 0; i <= currentStep; i++) {
                    stepperItems[i].classList.add('active');
                }


            }
        </script>
        <script>
            // Display Aleart Record distance
            async function displayAlertRecord() {
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    iconColor: 'white',
                    customClass: {
                        popup: 'colored-toast',
                    },
                    showConfirmButton: false,
                    timer: 1500,
                    timerProgressBar: true,
                });
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger',
                    },
                    buttonsStyling: false,
                });
                const result = await swalWithBootstrapButtons.fire({
                    title: 'คุณแน่ใจหรือไม่?',
                    text: 'คุณต้องการยืนยันที่จะส่ง!',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'ยืนยัน',
                    cancelButtonText: 'ยกเลิก',
                    reverseButtons: true,
                });

                if (result.isConfirmed) {
                    await Toast.fire({
                        icon: 'success',
                        title: 'Success',
                    });
                    document.getElementById('statusRecord').value = 4;
                    await document.querySelector('#record-body form').submit();
                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    swalWithBootstrapButtons.fire({
                        title: 'ยกเลิก',
                        text: 'คุณได้ทำการยกเลิก',
                        icon: 'error',
                    });
                }
            }
            // Display Aleart Save manage
            async function displayAlertSavemanage() {
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    iconColor: 'white',
                    customClass: {
                        popup: 'colored-toast',
                    },
                    showConfirmButton: false,
                    timer: 1500,
                    timerProgressBar: true,
                });
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger',
                    },
                    buttonsStyling: false,
                });
                const result = await swalWithBootstrapButtons.fire({
                    title: 'คุณแน่ใจหรือไม่?',
                    text: 'คุณต้องการยืนยันที่จะส่ง!',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'ยืนยัน',
                    cancelButtonText: 'ยกเลิก',
                    reverseButtons: true,
                });

                if (result.isConfirmed) {
                    await Toast.fire({
                        icon: 'success',
                        title: 'Success',
                    });
                    document.getElementById('status2').value = 3;
                    document.getElementById('adminName').value = '<%= user.username %>';
                    await document.querySelector('#manage-vehicle_driver-body form').submit();
                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    swalWithBootstrapButtons.fire({
                        title: 'ยกเลิก',
                        text: 'คุณได้ทำการยกเลิก',
                        icon: 'error',
                    });
                }
            }

        </script>
        <script src="../JS/navbar.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>