<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ระเบียบและแบบฟอร์ม</title>
    <link rel="stylesheet" href="/css/document.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-straight/css/uicons-solid-straight.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <%- include('components/navbar.ejs') -%>
        <div class="container-fluid mt-3 " id="main">
            <div class="row">
                <div class="col-12 ">
                    <div class="container-fluid p-0 m-0"
                        style="display: flex;justify-content: space-between;align-items: center;">
                        <button type="button" onclick="toggleNav()" class="toggler mb-2 p-0 m-0"
                            style="font-size: 20px">
                            <i class="fi fi-rr-indent" id="toggleIcon" style="color: white"></i>
                        </button>
                        <%- include('components/userinfo.ejs') -%>
                    </div>
                    <div class="card" style="box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.25);">
                        <div class="card-body">
                            <div class="row mt-2">
                                <div class="col d-flex justify-content-between" id="search">
                                    <div id="categoryButtons">
                                        <label for="">เมนู :</label>
                                        <form id="categoryForm" method="GET">
                                            <input style="width: 100px;" type="radio" class="btn-check" name="category"
                                                id="option1" autocomplete="off" value="test" checked>
                                            <label style="width: 100px;" class="btn btn-secondary"
                                                for="option1">ระเบียบ</label>

                                            <input type="radio" class="btn-check" name="category" id="option2"
                                                autocomplete="off" value="แบบฟอร์ม">
                                            <label style="width: 100px;" class="btn btn-secondary"
                                                for="option2">แบบฟอร์ม</label>

                                            <input style="width: 100px;" type="radio" class="btn-check" name="category"
                                                id="option3" autocomplete="off" value="ประกาศ">
                                            <label style="width: 100px;" class="btn btn-secondary"
                                                for="option3">ประกาศ</label>

                                            <input style="width: 100px;" type="radio" class="btn-check" name="category"
                                                id="option4" autocomplete="off" value="แนวทางการใช้รถ">
                                            <label style="width: 150px;" class="btn btn-secondary"
                                                for="option4">แนวทางการใช้รถ</label>
                                        </form>


                                    </div>
                                    <div class="search">
                                        <input class="p-1" type="text" placeholder="&#xf002; ค้นหา"
                                            style="width: 200px; border-radius: 8px ; border:1px solid black;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% if (documents!==null) { %>

                <div class="row">
                    <div class="col-12">
                        <div class="card mt-3 mb-3 " id="booking"
                            style="box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.25);">

                            <div class="card-header" id="card-header">
                                <form>
                                    <div class="row align-items-center">
                                        <div class="col-md-10 d-flex">
                                            <label id="header">

                                            </label>

                                        </div>
                                        <div class="col-md-2 d-flex">
                                            <% if (userLoggedIn && user.role !=='user' ) { %>
                                                <button type="button" class="btn btn-primary"
                                                    style="border-color: #FFECB3; background-color:#FFECB3; width: 100px; color: black;"
                                                    data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                    <i class="fi fi-rr-edit"></i>เพิ่ม
                                                </button>
                                                <% } %>

                                                    <div class="modal fade" id="exampleModal" tabindex="-1"
                                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">
                                                                        เพิ่ม
                                                                    </h5>
                                                                    <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form>
                                                                        <div class="mb-3">
                                                                            <label for="recipient-name"
                                                                                class="col-form-label">หัวข้อ:</label>
                                                                            <input type="text" class="form-control"
                                                                                id="recipient-name">
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="message-text"
                                                                                class="col-form-label">link:</label>
                                                                            <textarea class="form-control"
                                                                                id="message-text"
                                                                                contenteditable="true"></textarea>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="message-text"
                                                                                class="col-form-label">รูปภาพ:</label>
                                                                            <textarea class="form-control"
                                                                                id="message-text"></textarea>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="message-text"
                                                                                class="col-form-label">หมวด:</label>
                                                                            <textarea class="form-control"
                                                                                id="message-text"></textarea>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                        data-bs-dismiss="modal">ปิด</button>
                                                                    <button type="button"
                                                                        class="btn btn-primary">ยืนยัน</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="booking-body" class="card-body">
                                <div>
                                    <table class="table" cellspacing="0" style="border-collapse:collapse;">
                                        <tr style="color:Black;">
                                            <th scope="col"><a
                                                    href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder1$gridLink&#39;,&#39;Sort$name&#39;)"
                                                    style="color:Black;">รายการ</a></th>
                                            <th scope="col"><a
                                                    href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder1$gridLink&#39;,&#39;Sort$create_date&#39;)"
                                                    style="color:Black;">วันที่สร้าง</a></th>
                                        </tr>
                                        <% documents.forEach(document=> {%>
                                            <tr>
                                                <td>
                                                    <div class="card" style="border: none">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-sm-4 text-center">
                                                                    <img src="/image/Mae-Fah-Luang-University-2.png"
                                                                        class="rounded" style="height: 100px;" alt="">
                                                                </div>
                                                                <div class="col-sm-8">
                                                                    <a href="https://drive.google.com/file/d/1NLKeQWx7uqVPoiOvnrV1ts8e3_D8tZuQ/view?usp=sharing"
                                                                        target="_blank" class="card-link my-a">
                                                                        <%= document.title %>
                                                                    </a>
                                                                    <div style="font-size: small">
                                                                        <i class="fa fa-calendar mb-2 mr-sm-2"
                                                                            style="font-weight: bold"></i>
                                                                        โดย
                                                                        <%= document.numberID %>
                                                                            <%= document.adminName %>
                                                                                <%= document.role==='admin'
                                                                                    ? 'เจ้าหน้าที่บริหาร' : '' %>
                                                                                    <br />
                                                                                    <span
                                                                                        style="font-weight: bold">หมวด</span>
                                                                                    <%= document.category==='test'
                                                                                        ?'ระเบียบ' :
                                                                                        document.category==='แบบฟอร์ม'
                                                                                        ?"แบบฟอร์ม" :
                                                                                        document.category==='ประกาศ'
                                                                                        ? 'ประกาศ' : '' %>



                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <%= new Date(document.createdAt).toLocaleDateString('th-TH') %>
                                                        <%= new Date(document.createdAt).toLocaleTimeString('th-TH') %>
                                                </td>
                                            </tr>
                                            <% }); %>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <% } %>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const radioButtons = document.querySelectorAll('input[name="category"]');

                radioButtons.forEach(function (radio) {

                    radio.addEventListener('click', function () {
                        const selectedCategory = this.value;
                        window.location.href = `/document/${selectedCategory}`;

                    });
                });
            });
        </script>

        <script src="../JS/navbar.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.6/dompurify.min.js"></script>
</body>

</html>