<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>แก้ไข</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/css/edit.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>

</head>

<body>
    <%- include('components/navbar.ejs') -%>


        <div class="container-fluid mt-3" id="main">
            <div class="row justify-content-center align-items-center">
                <div class="col-12">
                    <div class="container-fluid p-0 m-0" style="display: flex; align-items: center; ">
                        <button type="button" onclick="toggleNav()" class="toggler mb-2 p-0 m-0"
                            style="font-size: 20px">
                            <i class="fi fi-rr-indent" id="toggleIcon" style="color: white"></i>
                        </button>
                       
                    </div>
                    <div class="top mt-0">
                        <a href="/">หน้าหลัก</a>
                    </div>


                    <div class="card mt-3">
                        <div class="card-body">
                            <div class="card-body">
                                <form id="updateForm" method="POST" action="/user/<%= user.id %>"
                                    onsubmit="return displayAlert();">

                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <label class="form-label">รหัสพนักงาน</label>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="text" class="form-control" value="<%= user.numberID  %>"
                                                readonly disabled>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <label class="form-label">ชื่อ</label>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="text" class="form-control" name="newfirstname"
                                                value="<%= user.firstname%>">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <label class="form-label">นามสกุล</label>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="text" class="form-control" name="newlastname"
                                                value="<%= user.lastname %>">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <label class="form-label">หน่วยงาน</label>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="text" class="form-control" name="organization"
                                                value="<%= user.organization %>" readonly disabled>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <label class="form-label">ประเภท</label>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="text" class="form-control"
                                                value="<%=(user.role === 'approver' ? 'ผู้อนุมัติ' : (user.role === 'admin' ? 'คนจัดรถ' : 'พนักงาน'))%>"
                                                readonly disabled>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <label class="form-label">รหัสผ่าน</label>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="text" class="form-control" value="">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <label class="form-label">ยืนยันรหัสผ่าน</label>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="text" class="form-control" value="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-9 text-center text-secondary">
                                            <form onsubmit="displayAlert(); return false;">
                                                <button class="btn btn-primary ">ยืนยัน</button>
                                            </form>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/JS/alertSave.js"></script>
        <script src="../JS/navbar.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>